<ul>
  <li>
    {{> beerpartial beer}}
    <p>
      <strong>Food Pairing</strong>
      {{beer.food_pairing}}
    </p>
    <p>
      <strong>Brewer Tips</strong>
      {{beer.brewers_tips}}
    </p>
  </li>
</ul>